.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSni--pwENP9YQ7NVxsf5Rz1kUu17leIxotQA&usqp=CAU);
}